
:root {
    --pageBackground: rgb(8, 39, 28);
    --white: white;
    --orange: orange;
    --bubbleInnerText: rgb(17, 94, 67);
    --cardTittle: rgb(11, 58, 42);
    --box-shadow: rgb(107, 106, 106);
    --validateButt-disable: rgba(199, 194, 194, 0.623);
    /* --overlay: rgba(0, 128, 0, 0.185); */
    --overlay: rgba(11, 87, 11, 0.185);
    --alert-butt-hover: rgb(20, 158, 20);
    --gP-vertical-line: lightgray;
    --card-butt-disable: rgba(11, 58, 42, 0.829);
    --card-butt-text-disable: rgba(255, 255, 255, 0.842);
}

