
h2 {
    color: var(--white);
}

button {
    width: 12.5rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: none;
    border: none;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.937rem;
    border-radius: 2.1875rem;
    font-size: 18px;
    font-weight: 600;
    border: 0.0625em solid var(--bubbleInnerText);
    color: var(--bubbleInnerText);
    background-color: var(--white);
}