@use '../base/colors';
@use '../layout/flex';
@use '../util';

.game-page {
    padding: 1.875rem 1.25rem;
    min-height: 100%;

    @include util.breakpoint(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        gap: 0;
    } 
}

.block1 {
    margin-bottom: 3.125rem;
    gap: 1.5rem;

    @include util.breakpoint(medium) {
        margin-bottom: 0;
        min-height: 100%;
        gap: 2.1875rem;
        border-right: 0.03125rem solid var(--gP-vertical-line);
        padding-right: 1.25rem;
    } 

    &__countdown {
        min-height: 4.375rem;
        min-width: 4.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        @include util.breakpoint(medium) {
            min-height: 11.25rem;
            min-width: 11.25rem;
        } 
    }

    .countdown_outer-circle {
        height: 4.375rem;
        width: 4.375rem;
        /* background-image: linear-gradient(to top, orange, yellow, blue); */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include util.breakpoint(medium) {
            min-height: 11.25rem;
            min-width: 11.25rem;
        } 
    }

    .countdown_inner-circle {
        height: 3.125rem;
        width: 3.125rem;
        background-color: var(--gradient1);
        background-color: var(--white);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include util.breakpoint(medium) {
            min-height: 7.5rem;
            min-width: 7.5rem;
        } 
    }

    .countdown_timer {
        font-size: 1rem;
        font-weight: 600;
        color: rgb(27, 124, 27);

        @include util.breakpoint(medium) {
            font-size: 1.25rem;
        } 
    }
    
    &__qust-counter {
        font-size: 1.25rem;
    }

    .qust-counter-p1 {
        color: white;
    }
    
    .qust-counter-p2 {
        color: var(--orange);
    }
}

.block2 {
    gap: 1.5rem; 

    @include util.breakpoint(medium) {
        min-height: 100%;
        gap: 2.1875rem;
        padding-left: 1.25rem;
    } 

    &__question {
        font-size: 1.25rem;
        text-align: center;
        line-height: 2.125rem;
        padding: 0 1.25rem;
        margin-bottom: 0.625rem;

        @include util.breakpoint(medium) {
            margin-bottom: 0.625rem;
            padding: 0 0.625rem;
        } 

        @include util.breakpoint(large) {
            font-size: 1.375rem;
            padding: 0 2.8125rem;
        } 
    }

    &__bubble {
        min-width: 17.5rem;
        min-height: 3.75rem;
        margin-bottom: 1.25rem;
        font-size: 1.125rem;
        font-weight: 600;
        text-align: center;
        border: none;
    }

    &__bubble--correctAnswer {
        color: var(--correctAnswer);
        transition: 0.15s;
    }

    &__bubble--wrongAnswer {
        color: var(--wrongAnswer);
        transition: 0.15s;
    }

    &__bubble--unclickable {
        pointer-events: none;
    }
    
    &__button--disabled {
        background-color: var(--gamePage-butt-disabled);
        color: var(--butt-text-disable);
        transition: 0.5s;
    }

    &__button--enabled {
        background-color: var(--orange);
        color: var(--white);

    }
}