@use '../base/colors';
@use '../layout/flex';
@use '../util';


.overlay {
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    min-height: 100%;

    &__show-up {
        background-color: var(--overlay);
    }
}

.h1 {
    font-size: 3.125rem;

    &__prt1 {
        color: var(--white);
    }

    &__prt2 {
        color: var(--orange);
    }

    @include util.breakpoint(small) {
        font-size: 3.375rem;
    }
    
    @include util.breakpoint(medium) {
        font-size: 3.625rem;
    }

    @include util.breakpoint(x-large) {
        font-size: 3.75rem;
    }
  
}

.flex-buttons {
    gap: 2rem;

    .play-butt {
        @include util.start;
    }
    
    .rules-butt {
        width: 9.375rem;
        border: 0.0625rem solid var(--white);
        background-color: transparent;
        color: var(--white);
        align-items: center;
        transition: 0.5s;
        
        
        

       /*  @include util.breakpoint(x-large) {
            width: 9.625rem;
        } */

        &:hover {
            transform: scale(1.1);
        } 
    }
}


.alert-box {
    position: absolute;
    top: 3.125rem;
    padding: 1.875rem;
    z-index: 2000;
    width: 80%;
    max-width: 36rem;
    min-height: 80%;
    background-color: var(--white);
    text-align: center;
    line-height: 2.5rem;

    @include util.breakpoint(small) {
        top: 3.75rem;
        padding: 2.5rem;
    }

    @include util.breakpoint(medium) {
        top: 5rem;
        padding: 3.125rem;
    } 

    &__tittle {
        font-weight: 600;
        font-size: 1.625rem;
        color: var(--orange);

        @include util.breakpoint(small) {
            font-size: 1.75rem;
        } 

        @include util.breakpoint(medium) {
            font-size: 1.75rem;
        } 

        @include util.breakpoint(x-large) {
            font-size: 2rem;
        } 
    }

    &__message {
        text-align: center;
        line-height: 2.375rem;
        font-weight: 500;
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
        color: var(--bubbleInnerText);

        @include util.breakpoint(medium) {
            font-size: 1.25rem;
        } 
        @include util.breakpoint(x-large) {
            font-size: 1.375rem;
        } 
    }

    &__butt {
        background-color: transparent;
        color: var(--bubbleInnerText);
        border: 0.09375rem solid var(--bubbleInnerText);
        width: 9.375rem;

        &:hover {
            border: 0.09375rem solid var(--alert-butt-hover);
        }
    }
}