@use '../base/colors';
@use '../layout/flex';
@use '../util';

.card {
    background-color: var(--white);
    min-height: 100%;
    width:100%;
    max-width: 36rem;
    margin: auto;
    padding: 1.25rem;
    border-radius: 1.875rem;

    &__tittle {
        height: 3.75rem;
        font-size: 1.375rem ;
        border-radius: 1.875rem;
        margin-bottom: 1.25rem;
        color: var(--white);
        background-color: var(--cardTittle);
        width: min(80%, 400px);

        @include util.breakpoint(small) {
            font-size: 1.5rem;
        } 

        @include util.breakpoint(medium) {
            font-size: 1.625rem;
        } 
    }

    &__bubble {
        width: 12.5rem;
        height: 3.75rem;
        margin-bottom: 1.25rem;
    }

    &__button {
        background-color: var(--cardTittle);
        color: var(--white);
        width: 12.5rem;
        height: 3.75rem;
    }
}