
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__gap100 {
        gap: 6.25rem;
    }

    &__space-ev {
        justify-content: space-evenly;
    }
}
